@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* #region GLOBAL */
* {
  box-sizing: border-box;
}
:root {
  --light: #fafafa;
  --dark: #131313;
  --static: #d2d2d2;
  --primary: #37699c;
}
body {
  font-family: "Roboto", serif;
  background-color: var(--light);
  color: var(--dark);
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  font-weight: 400;
  color: var(--primary);
}
/* #endregion */
/* #region ALL IMAGES */
img {
  display: block;
  width: 100%;
}
figure {
  margin: 0;
  padding: 0;
}
/* #endregion */
/* #region COOKIES */
#cookie-consent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  z-index: 1000;
  border-radius: 10px;
}
#cookie-consent button {
  margin: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#cookie-consent .accept-all {
  background-color: #4caf50;
  color: white;
}
#cookie-consent .deny-all {
  background-color: #f44336;
  color: white;
}
#main-content {
  display: none;
  padding: 20px;
}
#cookie-options {
  display: none;
}

/* #endregion */
